package pages

templ Error(time string, title string, message string) {
    @MainLayout("Error: " + title,time) {
        <div class="container sep-top">
            <div class="card">
                <div class="card--header">{ title }</div>
                <div class="card--body">{ message }</div>
            </div>
        </div>
    }
}
